html {
    position: relative;
    min-height: 100%;
    font-family: sans-serif;
}

body {
    /* Margin bottom by footer height  */
    margin-bottom: 50px;
}

.btn-login {
    color: #2f958c;
}

.btn-login, .btn-signup {
    font-weight: 800;
    font-size: 1.1em;
}

.btn-login:hover {
    color: #25776f;
}

#headimage {
    background-image: url('../img/tree.png');
    background-position: center center;
    background-size: cover;
    height: 70vh;
    width: 100vw;
}

.welcome-caption h1{
    font-weight: 600;
    font-size: 50px;
}

.welcome-caption h3{
    font-weight: 400;
    font-size: 25px;
}

.welcome-caption h1, .welcome-caption h3 {
    color: white;
    text-shadow: 1px 1px 15px #000;
}

.welcome-caption hr {
    box-shadow: 1px 0px 1px #000;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 60%;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.center-contain {
    margin-top: 98px;
}

.card {
    display: block;
    font-size: 16px;
    color: #586069;
    border-radius: 2px;
    margin-bottom: 20px;
    line-height: 1.45em;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
                0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s; 
}

.card > img{
    width: 100%;
    height: 200px;
    object-fit:cover; 
    transition: all .25s ease;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-title > a {
    font-size: 1em!important;
    color: #24292e;
}
.card-body .a-bold {
    font-weight: 500;
}

.small-content {
    font-size: 0.8em;
}

.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),
                0 6px 20px 0 rgba(0,0,0,0.19);
}

.main-content {
    margin-top: 8em;
    margin-bottom: 8em;
}

.main-content .post__content{
    font-size: 120%;
    font-weight: 400;
    line-height: 2em;
}

.post__header h1 {
    font-size: 230%;
    font-weight: 500;
}

.comment-form{
    display: block;
    margin-top: 8%;
    padding-left: 13%;
    padding-right: 13%;
}

.nav-item > .btn-info {
    font-size: 0.9em;
}

.signin-item {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.signup-item {
    width: 100%;
    max-width: 440px;
    padding: 15px;
    margin: auto;
}

.sidebox {
    margin-bottom: 70px;
}

.img-small {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 200px;
}

.media-body {
    font-size: 14px!important;
    color: #6a737d;
}

.media-body p > a {
    color: #24292e;
}

.media-body p > a:hover , .card-title > a:hover{
    color: #2f958c;
}

.page-nav {
    margin-top: 4em;
    margin-bottom: 4em;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 48px;
    background-color: #f5f5f5;
}

.footer p {
    color: white;
}


@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}