<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/img/favicon.ico')}}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

    <title>{{ title }}</title>
</head>
<body>
<!-- NavBar -->
<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='/img/icon2.png') }}" alt="askAma"></a>
            
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="navbar-collapse collapse" id="navb">
                <form class="form-inline ml-auto my-2 my-lg-0 mx-2">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search">
                    
                        <div class="input-group-append">
                            <button class="btn btn-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="col-xs-12">
                    <a class="btn btn-login my-2 my-lg-0 mr-2" href="{{ url_for('signin') }}">Sign in</a>
                    <a class="btn btn-signup btn-outline-success my-2 my-lg-0" href="{{ url_for('signup') }}">Sign up</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- Block Div -->
<main>
    {% block div %}
    {% endblock %}
</main>
<!-- Footer -->
<footer class="footer bg-dark">
    <div class="container-fluid">
        <p class="text-center my-auto">&copy; askAmablog.com</p>
    </div>
</footer>
<script src="{{ url_for('static', filename='/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='/js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='/js/bootstrap.min.js') }}"></script>
</body>
</html>