<!-- extend index -->
{% extends "base.html" %}

<!-- block div -->
{% block div %}
<div class="post-content content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3 class="mb-3">{{ info.postTitle }}</h3>
                <p class="lead">{{ info.summary }}</p>
                {% if info.img %}
                <img src="{{ info.img }}" alt="post image" class="img-fluid mb-3">
                {% endif %}
                <p class="text-justify">
                    {{ info.content }}
                </p>
            </div>
            <div class="col-md-3">
                <div class="card-block">
                    <h5 class="card-header text-center my-2">Tags</h5>
                    <ul class="nav nav-pills">
                        {% for tag in info.tags %}
                        <li class="nav-item">
                            <a class="btn btn-info m-2" href="/">{{ tag }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}