<!-- SideBar -->
<div class="col-md-4 col-xs-0">
    {% if request.endpoint == "author" %}
    {% for post in data %}
    <div class="sidebox text-center px-3">
        <div class="card bg-light">
            <div class="card-body">
                <img src="{{ post.author.pic }}" alt="post image" class="img-author"> 
                <div class="card-body">
                    <h4 class="card-title my-0">{{ post.author.username }}</h4>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="sidebox card-block px-3">
        <h5 class="card-header text-left mb-3">Recent Posts</h5>
        <div class="list-group">
            {% for post in posts[:5] %}
            {% if not loop.first %}
            <hr class="light">
            {% else %}
            {% endif %}
            <div class="media">
                <!-- <img src="{{ post.img }}" alt="post image" class="img-small align-self-center mr-3">  -->
                <div class="media-body">
                    <p class="my-0">{{ post.posted_on }}</p>
                    <p class="my-0"><a href="#">{{ post.title | truncate(40) }}</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="sidebox card-block px-3">
        <h5 class="card-header text-left mb-3">Tags</h5>
            <ul class="nav nav-pills px-4">
                {% for post in sidedata %}
                    <li class="nav-item">
                        <a class="btn btn-info p-1 m-2" href="{{ url_for('category', tag=post.name ) }}">{{ post.name }}</a>
                    </li>
                {% endfor %}
            </ul>
    </div>    
</div>