<!-- SideBar -->
<div class="col-md-4 col-xs-0">
    {% if request.endpoint == "author" %}
    <div class="sidebox card-block px-2">

    </div>
    {% endif %}
    <div class="sidebox card-block px-2">
        <h5 class="card-header text-left mb-3">Recent Posts</h5>
        <div class="list-group">
            {% for post in posts[:5] %}
            {% if not loop.first %}
            <hr class="light">
            {% else %}
            {% endif %}
            <div class="media">
                <img src="{{ post.img }}" alt="post image" class="img-small align-self-center mr-3"> 
                <div class="media-body">
                    <p class="my-0">{{ post.date }}</p>
                    <p class="my-0"><a href="{{ url_for('post', year=post.date.split(' ')[2], month=post.date.split(' ')[0] | format_datetime,  post_title= post.postTitle | convert_string ) }}">{{ post.postTitle | truncate(40) }}</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="sidebox card-block px-2">
        <h5 class="card-header text-left mb-3">Tags</h5>
            <ul class="nav nav-pills">
                {% for post in posts %}
                {% for item in post.tags %}
                    <li class="nav-item">
                        <a class="btn btn-info p-1 m-2" href="{{ url_for('category', tag= item ) }}">{{ item }}</a>
                    </li>
                {% endfor %}
                {% endfor %}
            </ul>
    </div>    
</div>