{% extends "base.html" %}

{% block div %}
<div class="content">
    <div class="container">
        <div class="signin-item text-center mb-4">
            <a class="navbar-brand mb-3" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='/img/icon2.png') }}" alt="askAma" class="bd-placeholder-img"></a>
            <h1 class="h3 font-weight-normal" style="color: #2f958c;">Sign in to askAma </h1>
        </div>
        <form class="form-signin signin-item card mb-4" method="post">
            <label for="inputUsername" class="sr-only">Username</label>
            <input class="form-control" type="text" id="inputUsername" placeholder="Username" name="username" value="{{request.form.username }}" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input class="form-control" type="password" id="inputPassword" placeholder="Password" name="password" value="{{request.form.password }}" required>
            <div class="checkbox text-center my-auto">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in">
        </form>
        <div class="card signin-item text-center">
            <p class="my-auto">Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
        </div>
    </div>
</div>
{% endblock %}