<!-- extend index -->
{% extends "base.html" %}
{% include "navbar.html" %}

<!-- block div -->
{% block div %}
<div class="content my-4">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xs-12 m-auto">
                <div class="post__image text-center">
                    {% if info.img %}
                    <img src="{{ info.img }}" alt="post image" class="img-fluid mb-4">
                    {% endif %}
                </div>
                <div class="post__header">
                    <h1 class="mb-4">{{ info.title }}</h1>
                    <div class="small-content mt-3">
                        <p> 
                            <i class="fa fa-user text-info"></i>  
                            <a class="btn-danger p-1" href="{{url_for('author', username=info.author.username) }}">{{ info.author.username }}</a>
                            {% if info.tags %}
                            under
                            <a class="btn-info p-1" href="{{ url_for('category', tag= info.tags[0].name ) }}">{{ info.tags[0].name }}</a>
                            {% endif %}
                            on {{ info.date }}
                        </p>
                    </div>
                    
                </div>
                <div class="post__content">
                    <p class="px-2">
                        {{ info.summary }}
                        <br>
                        {{ info.content | safe }}
                    </p>
                </div>
            </div>
        </div>
        <div class="comment-form">
            <form action="" method="POST" class="form" role="form">
                {{ form.hidden_tag() }}
                <div class="form-group  required">
                    {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-md is-invalid", placeholder="Username") }}
                    <div class="invalid-feedback">
                        {% for e in form.username.errors %}
                            <span>{{ e }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.username(class="form-control form-control-md", placeholder="Username") }}
                    {% endif %}
                </div>

                <div class="form-group  required">
                    {% if form.comment.errors %}
                    {{ form.comment(class="form-control form-control-md is-invalid", placeholder="Comment") }}
                    <div class="invalid-feedback">
                        {% for e in form.comment.errors %}
                            <span>{{ e }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.comment(class="form-control form-control-md", placeholder="Comment") }}
                    {% endif %}
                </div>
                {{ form.submit(class="btn btn-success") }}
            </form>
        </div>
    </div>
</div>

{% endblock %}